lightgbm==4.6.0
matplotlib==3.10.9
numba==0.65.1
numpy==2.4.6
openpyxl==3.1.5
optuna==4.9.0
pandas==3.0.3
pyarrow==24.0.0
ray==2.33.0
ray[tune]==2.55.1
requests==2.34.2
scikit-learn==1.9.0
scipy==1.17.1
seaborn==0.13.2
shap==0.52.0
SQLAlchemy==2.0.50
statsmodels==0.14.6
tensorboardX==2.6.5
torch==2.11.0+cu128
tqdm==4.67.3
xlsxwriter==3.2.9
PyYAML==6.0.3
joblib==1.5.3